<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/logFile.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.mium2.messenger.util" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <!--<logger name="root" level="DEBUG">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->


</configuration>
