<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appID>com.uracle.push.test</appID>
    <!-- 매우 중요. RDB에 저장한 서버아이디값과 일치해야함-->
    <server_id>BROKER_1</server_id>
    <!-- 메신저서버 정보로드 하기 위해 -->
    <messenger-web-api-server-host>http://localhost:18080/</messenger-web-api-server-host>
    <!-- 메신저서버 정보로드 하기 위해 -->
    <offmsg-push-send>Y</offmsg-push-send>
    <push-upmc-host>http://52.79.96.110:28080/</push-upmc-host>
    <push-servicecode>0001</push-servicecode>
    <push-sendercode>messenger</push-sendercode>
    <!-- listen 포트 -->
    <port>1883</port>
    <ssl_port>8443</ssl_port>
    <http_port>8888</http_port>
    <locale>kr_K</locale>
    <redis>
        <master>
            <host>211.241.199.215</host>
            <port>6379</port>
            <db>3</db>
        </master>
        <slave>
            <host>211.241.199.217</host>
            <port>6379</port>
            <db>3</db>
        </slave>
        <sentinels>
            <use>Y</use>
            <ips>211.241.199.215</ips>
            <ports>26379</ports>
        </sentinels>
    </redis>
    <!--
    오프라인메세지 저장소 설정 : ehcache : 0, redis : 1 중 선택
    ehcache사용은 단일 서버이거나 사용자가 다른 서버로 붙는걸 허용하지 않을시만 가능. 스토리지에 저장하지 않고 메모리로만 사용시 성능은 엄첨빠름.
    -->
    <offmsg_store_kind>1</offmsg_store_kind>

    <!-- 푸시서버 패스워드 체크 설정파일-->
    <password_file>/Users/mium2/project/mium-push-all-proj/mium2-push-server/config/password_file.conf</password_file>

    <!--메모리 디비 파일경로-->
    <sqlite_scr>/Users/mium2/project/mium-push-all-proj/mium2-push-server/push-broker.db</sqlite_scr>

    <!-- 메시지 처리 쓰레드 카운트-->
    <protocol_thread_count>5</protocol_thread_count>

    <!-- Message 큐 사이즈 -->
    <max_message_queue_size>200000</max_message_queue_size>

    <!-- 메시지 사이즈 제한 (byte) MaxSize 268435455 bytes, 기본값 : 제한 없음 -->
    <message_size_limit>0</message_size_limit>

    <!-- 메시지 큐 사이즈 제한 기본값 : 0  사용안함 -->
    <queue_size>0</queue_size>

    <!-- 사용자당 오프메시지 보관 갯수 -->
    <cache_user_msg_count>100</cache_user_msg_count>

    <!-- 오프라인 만료 체크 주기 분(minute)-->
    <offmsg_check_minute_interval>60</offmsg_check_minute_interval>

    <!-- 오프메세지 만료시간 초-->
    <offmsg_expire_second>86400</offmsg_expire_second>

    <!--채팅방별 메세지 히스토리 저장갯수 설정-->
    <room_msg_max_save_cnt>100</room_msg_max_save_cnt>

    <!-- 파일 메세지일 경우 저장 디렉토리. 해당 디렉토리는 WEB서버가 엑세스 할 수 있는 물리적인 경로여야한다.-->
    <file_save_src>/Users/mium2/project/git_repository/mqttMessenger/messenger-api-web/target/messenger-api-web-1.0.0/download_file/</file_save_src>
    <download_hosturl>http://211.241.199.139:18080/download_file/</download_hosturl>
    <thumbnail_width>100</thumbnail_width>
    <thumbnail_height>100</thumbnail_height>

    <org_pub_msg_clean_time>11</org_pub_msg_clean_time>
</configuration>