<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <common>
        <clientid_start_pos>1</clientid_start_pos>
        <clientid_end_pos>100</clientid_end_pos>
        <clientid_prefix>TESTUSER</clientid_prefix>
        <chatroom_start_pos>1</chatroom_start_pos>
        <chatroom_end_pos>10</chatroom_end_pos>
        <chatroom_prefix>ROOMID</chatroom_prefix>
        <brokerid>BROKER_1</brokerid>
        <brokerIpPort>211.241.199.139:1883</brokerIpPort>
        <!-- 무작위로 룸아이디를 설정해 해당 룸에 메세지 전송 쓰레드-->
        <autoSendThreadCnt>5</autoSendThreadCnt>
        <!--위의 발송 쓰레드 발송 후 Sleep 주기. MiliSecond-->
        <autoSendInterval>500</autoSendInterval>
    </common>

    <redis>
        <master>
            <host>211.241.199.215</host>
            <port>6379</port>
            <db>11</db>
        </master>
        <slave>
            <host>211.241.199.217</host>
            <port>6379</port>
            <db>11</db>
        </slave>
        <sentinels>
            <use>N</use>
            <ips>211.241.199.215</ips>
            <ports>26379</ports>
        </sentinels>
    </redis>
</configuration>